server {
    listen 80;
    #listen 443 ssl;
    server_name remoteapi.holobank.app;

    # TODO keep alive
    location / {
      proxy_pass http://hasura-remote:8080/;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
    }
}